@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #376db5;
    overflow: hidden;
}

html {
    overflow-y: scroll;
}

.center {
    text-align: center;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 87vw;
    background: white;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 5%);
}

.center h1 {
    text-align: center;
    padding: 20px 0;
    /* border-bottom: 1px solid silver; */
}

.back_button {
    position: fixed;
    top: -20px;
    left: -20px;
    min-width: 20vh;
    min-height: 10vh;
    border: 1px solid #ccc;
    border-radius: 27px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 4vh;
}

.back_button:hover {
    background-color: #376db5;
    transition: .5s;
    color: white;
}

.back_button h3 {
    position: relative;
    text-align: center;
    top: 1.3vh;
    left: 0.5vh;
    padding: 15px 0;

}

.dropdown {
    display: inline-block;
    margin-right: 1em;
    margin-top: 0.5em;
    color: blue;
    /* text-decoration: underline; */
}

a {
    color: white;
    text-decoration: none;
}

h1, h2, h3, h4{
    color: #334454;
    font-weight: lighter;
}

.title, .info{
    font-weight: 600;
}

/* Desktop Version */
@media screen and (min-width: 605px) {
    .center {
        width: 50vw;
        margin-top: 5em;
        margin-bottom: 5em;
    }
}

.image{
    width: 320px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    transition: .4s;
}

.image:hover{
    transform: scale(1.1);
}

.container-left{
    align-self: center;
}

.container-variant{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
    column-gap: 2rem;
    border-radius: 25px;
    background-color: white;
    padding: 1rem 0;
}

.container-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-small-info{
    display: flex;
    flex-direction: column;
}

.container-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
}

.container-middle{
    margin: 1rem 0;
    text-align: justify;
}

.container-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

/* .container-middle-bot{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

/* .container-button{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
} */

.container-button button{
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 8px;
    border: 2px solid #334454;
    background: #376db5;
    color: white;
    cursor: pointer;
    transition: .5s;
}

.container-button button:hover{
    border: 2px solid #334454;
    background-color: #334454;
    color: #cbe0fa;
    font-weight: bold;
    transform: scale(1.1);
}